<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet"
          asp-href-include="~/bootstrap/dist/css/*.css"
          asp-href-exclude="**/*-reboot*,**/*-grid*" />
    <link rel="stylesheet" asp-href-include="~/font-awesome/css/*.css" />
    <title>SportStoreSD7</title>
</head>
<body>
    <div class="navbar navbar-inverse bg-inverse" role="navigation">
        <div class="row">
            <a class="col navbar-brand" href="#">SPORTS STORE SD7</a>
            <div class="col-4 text-right">
                <ul class="navbar-nav flex-grow-1 ml-auto">
                    <li>
                        @await Component.InvokeAsync("CartSummary")
                    </li>

                    <li>
                        <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Index">Admin</a>
                    </li>
                    
                </ul>
                
            </div>
            @*<div class="col-4 text-right">
                
            </div>*@
        </div>
    </div>
    <div class="row m-1 p-1">
        <div id="categories" class="col-3">
            <p> Expect More For Less... </p>
            @await Component.InvokeAsync("NavigationMenu")
        </div>
        <div class="col-9">
            @RenderBody()
        </div>
    </div>
</body>
</html>